@model CDQ.Models.Helper.HelpCalendario

@{
    ViewData["Title"] = "Attività & Risorse";
}

<br />
<br />

<div class="columns">
    <div class="column is-1" align="left">
        <a asp-action="Index" class="button back">
            <span class="icon">
                <i class="fas fa-backward"></i>
            </span>
        </a>
    </div>
    <div class="column is-10" align="center">
        <h1 class="title is-4">Calendario Operativo</h1>
    </div>
    <div class="column is-1" align="right">
    </div>
</div>

<form id="formRicerca" method="get">
    <div class="columns">
        <div class="column is-fullwidth">
            <div class="panel">
                <div class="panel-heading" style="vertical-align:central">
                    <div class="columns">
                        <div class="column is-1" align="right">
                            <a asp-action="Calendario" class="button" asp-route-Dir="less" asp-route-IDSettimana=@Model.IDSettimana asp-route-Anno=@Model.Anno>
                                <span class="icon">
                                    <i class="fas fa-chevron-left"></i>
                                </span>
                            </a>
                        </div>
                        <div class="column is-1" align="left">
                            <a asp-action="Calendario" asp-route-Dir="more" asp-route-IDSettimana=@Model.IDSettimana asp-route-Anno=@Model.Anno class="button">
                                <span class="icon">
                                    <i class="fas fa-chevron-right"></i>
                                </span>
                            </a>
                        </div>
                        <div class="column is-1">
                            <a asp-action="Calendario" asp-route-Dir="oggi" class="button">Oggi</a>
                        </div>
                        <div class="column is-6" align="center">
                            <label style="font-size:large">Settimana @Model.Settimana</label>
                        </div>
                        <div class="column is-3">
                        </div>
                    </div>
                </div>
                <div class="panel-block">
                    <div class="container">
                        <div class="column" align="center">

                            @Html.HiddenFor(model => Model.Mode)
                            @Html.HiddenFor(model => Model.IDSettimana)
                            @Html.HiddenFor(model => Model.Anno)

                            @for (var i = 0; i < Model.ListaOrari.Count(); i++)
                            {
                                @Html.HiddenFor(model => Model.ListaOrari[i].Text)
                                @Html.HiddenFor(model => Model.ListaOrari[i].Value)
                            }

                            <table class="calendar table table-bordered is-fullwidth">
                                <thead>
                                    <tr>
                                        <th>&nbsp;</th>
                                        <th width="14%" align="center">LUN</th>
                                        <th width="14%" align="center">MAR</th>
                                        <th width="14%" align="center">MER</th>
                                        <th width="14%" align="center">GIO</th>
                                        <th width="14%" align="center">VEN</th>
                                        <th width="14%" align="center">SAB</th>
                                        <th width="14%" align="center">DOM</th>
                                    </tr>
                                </thead>
                                <tbody>
                                    @foreach (var item in Model.ListaStrutturaCalendari)
                                    {

                                        <tr>
                                            <td>
                                                @Html.DisplayFor(modelItem => item.sOrarioCella)
                                            </td>

                                            @if (item.SC1.TipoCella == 0)
                                            {
                                                <td class=" no-events" rowspan="1"></td>
                                            }
                                            else
                                            {
                                                @if (item.SC1.TipoCella == 1)
                                                {
                                                    <td class=" has-events" rowspan='@item.SC1.Riga'>
                                                        <div class="row-fluid lecture" style="width: 99%; height: 100%">
                                                            <span class="lecturer"><a><font style="font-weight: bold" ;>@item.SC1.Calendario.RisorsaAttivita.Attivita.Descrizione</font> - @item.SC1.Calendario.RisorsaAttivita.Risorsa.Descrizione - Posti: @item.SC1.Calendario.CapienzaResidua()</a></span>
                                                        </div>
                                                    </td>
                                                }
                                            }

                                            @if (item.SC2.TipoCella == 0)
                                            {
                                                <td class=" no-events" rowspan="1"></td>
                                            }
                                            else
                                            {
                                                @if (item.SC2.TipoCella == 1)
                                                {
                                                    <td class=" has-events" rowspan='@item.SC2.Riga'>
                                                        <div class="row-fluid lecture" style="width: 99%; height: 100%">
                                                            <span class="lecturer"><a><font style="font-weight: bold" ;>@item.SC2.Calendario.RisorsaAttivita.Attivita.Descrizione</font> - @item.SC2.Calendario.RisorsaAttivita.Risorsa.Descrizione - Posti: @item.SC2.Calendario.CapienzaResidua()</a></span>
                                                        </div>
                                                    </td>
                                                }
                                            }

                                            @if (item.SC3.TipoCella == 0)
                                            {
                                                <td class=" no-events" rowspan="1"></td>
                                            }
                                            else
                                            {
                                                @if (item.SC3.TipoCella == 1)
                                                {
                                                    <td class=" has-events" rowspan='@item.SC3.Riga'>
                                                        <div class="row-fluid lecture" style="width: 99%; height: 100%">
                                                            <span class="lecturer"><a><font style="font-weight: bold" ;>@item.SC3.Calendario.RisorsaAttivita.Attivita.Descrizione</font> - @item.SC3.Calendario.RisorsaAttivita.Risorsa.Descrizione - Posti: @item.SC3.Calendario.CapienzaResidua()</a></span>
                                                        </div>
                                                    </td>
                                                }
                                            }

                                            @if (item.SC4.TipoCella == 0)
                                            {
                                                <td class=" no-events" rowspan="1"></td>
                                            }
                                            else
                                            {
                                                @if (item.SC4.TipoCella == 1)
                                                {
                                                    <td class=" has-events" rowspan='@item.SC4.Riga'>
                                                        <div class="row-fluid lecture" style="width: 99%; height: 100%">
                                                            <span class="lecturer"><a><font style="font-weight: bold" ;>@item.SC4.Calendario.RisorsaAttivita.Attivita.Descrizione</font> - @item.SC4.Calendario.RisorsaAttivita.Risorsa.Descrizione - Posti: @item.SC4.Calendario.CapienzaResidua()</a></span>
                                                        </div>
                                                    </td>
                                                }
                                            }

                                            @if (item.SC5.TipoCella == 0)
                                            {
                                                <td class=" no-events" rowspan="1"></td>
                                            }
                                            else
                                            {
                                                @if (item.SC5.TipoCella == 1)
                                                {
                                                    <td class=" has-events" rowspan='@item.SC5.Riga'>
                                                        <div class="row-fluid lecture" style="width: 99%; height: 100%">
                                                            <span class="lecturer"><a><font style="font-weight: bold" ;>@item.SC5.Calendario.RisorsaAttivita.Attivita.Descrizione</font> - @item.SC5.Calendario.RisorsaAttivita.Risorsa.Descrizione - Posti: @item.SC5.Calendario.CapienzaResidua()</a></span>
                                                        </div>
                                                    </td>
                                                }
                                            }
                                            @if (item.SC6.TipoCella == 0)
                                            {
                                                <td class=" no-events" rowspan="1"></td>
                                            }
                                            else
                                            {
                                                @if (item.SC6.TipoCella == 1)
                                                {
                                                    <td class=" has-events" rowspan='@item.SC6.Riga'>
                                                        <div class="row-fluid lecture" style="width: 99%; height: 100%">
                                                            <span class="lecturer"><a><font style="font-weight: bold" ;>@item.SC6.Calendario.RisorsaAttivita.Attivita.Descrizione</font> - @item.SC6.Calendario.RisorsaAttivita.Risorsa.Descrizione - Posti: @item.SC6.Calendario.CapienzaResidua()</a></span>
                                                        </div>
                                                    </td>
                                                }
                                            }
                                            @if (item.SC0.TipoCella == 0)
                                            {
                                                <td class=" no-events" rowspan="1"></td>
                                            }
                                            else
                                            {
                                                @if (item.SC0.TipoCella == 1)
                                                {
                                                    <td class=" has-events" rowspan='@item.SC0.Riga'>
                                                        <div class="row-fluid lecture" style="width: 99%; height: 100%">
                                                            <span class="lecturer"><a><font style="font-weight: bold" ;>@item.SC0.Calendario.RisorsaAttivita.Attivita.Descrizione</font> - @item.SC0.Calendario.RisorsaAttivita.Risorsa.Descrizione - Posti: @item.SC0.Calendario.CapienzaResidua()</a></span>
                                                        </div>
                                                    </td>
                                                }
                                            }
                                        </tr>
                                    }
                                </tbody>
                            </table>



                        </div>
                    </div>
                </div>
            </div>

        </div>
    </div>

</form>


<div id="modal-elimina" class="modal">
    <div class="modal-background"></div>
    <div class="modal-card">
        <header class="modal-card-head">
            <p class="modal-card-title">Attenzione</p>
            <button class="delete" type="reset" onclick="document.getElementById('Elimina').value = 'N';cancelModalElimina()"></button>
        </header>
        <section class="modal-card-body">
            <p>Eliminare l'informazione selezionata?</p>
            <input id="IDCaller" type="hidden" />
            <input id="Elimina" type="hidden" value="N" />
        </section>
        <footer class="modal-card-foot">
            <button type="button" onclick="document.getElementById('Elimina').value = 'S';cancelModalElimina();document.getElementById(document.getElementById('IDCaller').value).click()" class="button is-dark">Elimina</button>
            <button type="button" class="button is-dark" onclick="document.getElementById('Elimina').value = 'N';cancelModalElimina()">Annulla</button>
        </footer>
    </div>
</div>

<script>

    function confirmElimina(id) {
        setModalElimina(id);
        return document.getElementById('Elimina').value == "S";
    }


    function setModalElimina(id) {


        document.getElementById("IDCaller").value = id;

        document.getElementById("modal-elimina").classList.add("is-active");

    }

    function cancelModalElimina() {

        document.getElementById("modal-elimina").classList.remove("is-active");

    }

    function setUpdPianificazione(id, RisorsaAttivitaID, GiornoID, OraInizio, OraFine, Capienza) {
        if (typeof id == "undefined") {
            document.getElementById('Mode').value = 'Ins';
        }
        else {
            document.getElementById('Mode').value = 'Upd';
            document.getElementById("IDPianificazione").value = id;
            document.getElementById("select_RisorsaAttivita").value = RisorsaAttivitaID;
            document.getElementById("select_Giorno").value = GiornoID;
            document.getElementById("select_OraInizio").value = OraInizio;
            document.getElementById("select_OraFine").value = OraFine;
            document.getElementById("Capienza").value = Capienza;
        }
    }

</script>

<script>
    function SetCheck(id) {

        if (id == "giorno" && document.getElementById('IsSortGiorno').checked == true) {
            document.getElementById('IsSortAttivita').checked = false;
            document.getElementById('IsSortRisorsa').checked = false;
        }
        if (id == "attivita" && document.getElementById('IsSortAttivita').checked == true) {
            document.getElementById('IsSortGiorno').checked = false;
            document.getElementById('IsSortRisorsa').checked = false;
        }
        if (id == "risorsa" && document.getElementById('IsSortRisorsa').checked == true) {
            document.getElementById('IsSortAttivita').checked = false;
            document.getElementById('IsSortGiorno').checked = false;
        }
    }

    function GetCapienza() {
        var x = document.getElementById("select_RisorsaAttivita").selectedIndex;
        var y = document.getElementById("select_RisorsaAttivita").options;
        var z = document.getElementById("select_RisorsaAttivitaCapienza").options;
        document.getElementById("Capienza").value = z[x - 1].text;
    }


</script>