@model CDQ.Models.Helper.HelpProposte

@{
    ViewData["Title"] = "Proposte";
}


<br />
<br />

<div class="columns">
    <div class="column is-3 is-offset-1" align="left">
        <a asp-action="Index" asp-route-Ins="true" class="button back">
            <span class="icon">
                <i class="fas fa-backward"></i>
            </span>
        </a>
    </div>
    <div class="column is-4" align="center">
        <h1 class="title is-4">Proposte</h1>
    </div>
    <div class="column is-3" align="right">
        <a asp-action="Proposta" asp-route-Ins="true" class="button back" data-tooltip="Nuova Proposta">
            <span class="icon"><i class="fas fa-file-medical"></i></span>
        </a>
    </div>
</div>


<div class="columns">
    <div class="column is-10 is-offset-1">
        <div class="panel">
            <div class="panel-heading">Ricerca</div>
            <div class="panel-block">
                <div class="container">
                    <div class="column" align="center">
                        <form method="post">
                            @for (var i = 0; i < Model.ListaAnni.Count(); i++)
                            {
                                @Html.HiddenFor(model => Model.ListaAnni[i].Text)
                                @Html.HiddenFor(model => Model.ListaAnni[i].Value)
                            }

                            <div class="select">
                                <select asp-for="Anno" asp-items="Model.ListaAnni" onchange="this.form.submit()">
                                    <!--<option selected disabled hidden>--anno di competenza--</option>-->
                                    <!--<option value="-1">--anno di competenza--</option>-->
                                </select>
                            </div>
                        </form>
                    </div>
                </div>
            </div>
        </div>

    </div>
</div>



<div class="columns">
    <div class="column is-10 is-offset-1">
        <div class="panel">
            <div class="panel-heading">Elenco Proposte</div>
            <div class="panel-block">
                <table class="table is-fullwidth">
                    <thead>
                        <tr>
                            <th>Dettagli</th>
                            <th align="center">Ultima Modifica</th>
                            <th>Descrizione</th>
                            <th>Tribunale/Sezione</th>
                            <th>Status</th>
                            <th>Stampa</th>
                        </tr>
                    <tbody>
                        @{
                            foreach (var item in Model.ListaProposte)
                            {
                                <tr>
                                    <td align="center" width="1%">
                                        <a title="Dettagli" asp-route-ID="@item.ID" asp-route-Tab="1" asp-action="Proposta">
                                            <span class="icon">
                                                <i class="fas fa-edit"></i>
                                            </span>
                                        </a>
                                    </td>
                                    <td align="center" width="15%">
                                        @Html.DisplayFor(modelItem => item.DataUltimaModifica_OUT)
                                    </td>
                                    <td width="45%">
                                        @Html.DisplayFor(modelItem => item.TipoPratica.Descrizione)<br />
                                        <font style="font-size:12px;font-weight:bold">@Html.DisplayFor(modelItem => item.Oggetto)</font>
                                    <td width="25%">
                                        @Html.DisplayFor(modelItem => item.Tribunale)<br />
                                        <font style="font-size:12px;font-weight:bold;color:gray">@Html.DisplayFor(modelItem => item.SezioneTribunale)</font>
                                    </td>
                                    <td width="20%">
                                        @if (item.Status != null)
                                        {
                                            @Html.DisplayFor(modelItem => item.Status.Descrizione)
                                        }
                                        else
                                        {
                                            <p>*---*</p>
                                        }
                                    </td>
                                    <td align="center" width="1%">
                                        <a title="Stampa" asp-route-IDProposta="@item.ID" asp-action="GeneraProposta">
                                            <span class="icon">
                                                <i class="fas fa-file-download"></i>
                                            </span>
                                        </a>
                                    </td>
                                </tr>
                            }
                        }
                    </tbody>
                </table>

            </div>
        </div>
    </div>
</div>





