@model CDQ.Models.Helper.HelpRelazioni

@{
    ViewData["Title"] = "Relazioni";
}

<script src="~/lib/signalr/dist/browser/signalr.js"></script>
<script>
    var connection = new signalR.HubConnectionBuilder().withUrl('/checkfield').build();

    connection.on('CheckRPResult', function (tipo, chiamante) {
        if (tipo == 0)
        {
            document.getElementById("idRPError").classList.remove("field-validation-error");
            document.getElementById("idRPError").classList.add("field-validation-valid");
            document.getElementById("idRPError2").classList.remove("field-validation-error");
            document.getElementById("idRPError2").classList.add("field-validation-valid");
            document.getElementById("buttonRelazioneDaPropostaOk").disabled = true;
            document.getElementById("confermato").hidden = true;
        }
        else if (tipo == 2)
        {
            document.getElementById("idRPError").classList.remove("field-validation-error");
            document.getElementById("idRPError").classList.add("field-validation-valid");
            document.getElementById("idRPError2").classList.remove("field-validation-error");
            document.getElementById("idRPError2").classList.add("field-validation-valid");
            document.getElementById("buttonRelazioneDaPropostaOk").disabled = false;
            document.getElementById("confermato").hidden = false;
        }
        else if (chiamante) //IDPratica
		{
			if (tipo == 1) {
				document.getElementById("idRPError").classList.add("field-validation-error");
				document.getElementById("idRPError").classList.remove("field-validation-valid");
				document.getElementById("idRPError").innerHTML = "Proposta e/o Codice di Sicurezza non validi";
                document.getElementById("confermato").hidden = true;
                //document.getElementById("IDRelazioneDaProposta").focus();
            }
		}
        else if (!chiamante)
        {
            if (tipo == 1) {
                document.getElementById("idRPError2").classList.add("field-validation-error");
                document.getElementById("idRPError2").classList.remove("field-validation-valid");
                document.getElementById("idRPError2").innerHTML = "Proposta e/o Codice di Sicurezza non validi";
                document.getElementById("confermato").hidden = true;
                //document.getElementById("CodiceRelazioneDaProposta").focus();
            }
        }
    });

    function checkRelazioneDaProposta(chiamante) {
        document.getElementById("buttonRelazioneDaPropostaOk").disabled = true;
        connection.invoke('CheckRelazioneDaProposta', document.getElementById("IDRelazioneDaProposta").value, document.getElementById("CodiceRelazioneDaProposta").value, chiamante);
    }

    connection.start().catch(error => { console.error(error.message); });
    connectionSearch.start().catch(error => { console.error(error.message); });

    connection.onclose(async () => {
        connection.start().catch(error => { console.error(error.message); });
    });

</script>
<br />
<br />

<div class="columns">
    <div class="column is-3 is-offset-1" align="left">
        <a asp-action="Index" asp-route-Ins="true" class="button back">
            <span class="icon">
                <i class="fas fa-backward"></i>
            </span>
        </a>
    </div>
    <div class="column is-4" align="center">
        <h1 class="title is-4">Relazioni</h1>
    </div>
    <div class="column is-3" align="right">
        <a class="button back" data-tooltip="Relazione Da Proposta" onclick="setModalRelazioneDaProposta();">
            <span class="icon"><i class="fas fa-copy"></i></span>
        </a>
        <a asp-action="Relazione" asp-route-Ins="true" class="button back" data-tooltip="Nuova Relazione">
            <span class="icon"><i class="fas fa-file-medical"></i></span>
        </a>
    </div>
</div>


<div class="columns">
    <div class="column is-10 is-offset-1">
        <div class="panel">
            <div class="panel-heading">Ricerca</div>
            <div class="panel-block">
                <div class="container">
                    <div class="column" align="center">
                        <form method="post">
                            @for (var i = 0; i < Model.ListaAnni.Count(); i++)
                            {
                                @Html.HiddenFor(model => Model.ListaAnni[i].Text)
                                @Html.HiddenFor(model => Model.ListaAnni[i].Value)
                            }

                            <div class="select">
                                <select asp-for="Anno" asp-items="Model.ListaAnni" onchange="this.form.submit()">
                                    <!--<option selected disabled hidden>--anno di competenza--</option>-->
                                    <!--<option value="-1">--anno di competenza--</option>-->
                                </select>
                            </div>
                        </form>
                    </div>
                </div>
            </div>
        </div>

    </div>
</div>



<div class="columns">
    <div class="column is-10 is-offset-1">
        <div class="panel">
            <div class="panel-heading">Elenco Relazioni</div>
            <div class="panel-block">
                <table class="table is-fullwidth">
                    <thead>
                        <tr>
                            <th>Dettagli</th>
                            <th align="center">Ultima Modifica</th>
                            <th>Descrizione</th>
                            <th>Tribunale/Sezione</th>
                            <th>Status</th>
                            <th>Stampa</th>
                        </tr>
                    <tbody>
                        @{
                            foreach (var item in Model.ListaRelazioni)
                            {
                                <tr>
                                    <td align="center" width="1%">
                                        <a title="Dettagli" asp-route-ID="@item.ID" asp-route-Tab="1" asp-action="Relazione">
                                            <span class="icon">
                                                <i class="fas fa-edit"></i>
                                            </span>
                                        </a>
                                    </td>
                                    <td align="center" width="15%">
                                        @Html.DisplayFor(modelItem => item.DataUltimaModifica_OUT)
                                    </td>
                                    <td width="45%">
                                        @Html.DisplayFor(modelItem => item.TipoPratica.Descrizione)<br />
                                        <font style="font-size:12px;font-weight:bold">@Html.DisplayFor(modelItem => item.Oggetto)</font>
                                    </td>
                                    <td width="25%">
                                        @Html.DisplayFor(modelItem => item.Tribunale)<br />
                                        <font style="font-size:12px;font-weight:bold;color:gray">@Html.DisplayFor(modelItem => item.SezioneTribunale)</font>
                                    </td>
                                    <td width="20%">
                                        @if (item.Status != null)
                                        {
                                            @Html.DisplayFor(modelItem => item.Status.Descrizione)
                                        }
                                        else
                                        {
                                            <p>*---*</p>
                                        }
                                    </td>
                                    <td align="center" width="1%">
                                        <a title="Stampa" asp-route-IDRelazione="@item.ID" asp-action="GeneraRelazione">
                                            <span class="icon">
                                                <i class="fas fa-file-download"></i>
                                            </span>
                                        </a>
                                    </td>
                                </tr>
                            }
                        }
                    </tbody>
                </table>

            </div>
        </div>
    </div>
</div>


<div id="modal-RelazioneDaProposta" class="modal">
    <div class="modal-background"></div>
    <div class="modal-card">
        <form id="formInsRelazioneDaProposta" method="post"  asp-action="RelazioneDaProposta">

            <header class="modal-card-head">
                <p id="pTitoloRelazioneDaProposta" class="modal-card-title">Crea Relazione da Proposta</p>
                <button class="delete" type="reset" onclick="cancelModalRelazioneDaProposta()"></button>
            </header>
            <section class="modal-card-body">
                @Html.HiddenFor(m => m.Anno)
                <div class="columns">
                    <div class="column is-12">
                        <div class="field">
                            <label class="label">Numero di riferimento della Proposta</label>
                            <input id="IDRelazioneDaProposta" asp-for="IDPropostaRiferimento" class="input" onblur="checkRelazioneDaProposta(true)">
                            @Html.ValidationMessageFor(m => m.IDPropostaRiferimento, "campo obbligatorio", new { @class = "help help-message", @id = "idRPError" })
                        </div>
                    </div>
                </div>

                <div class="columns">
                    <div class="column is-12">
                        <div class="field">
                            <label class="label">Codice di conferma</label>
                            <input id="CodiceRelazioneDaProposta" asp-for="IDSafeCodePropostaRiferimento" class="input" onblur="checkRelazioneDaProposta(false)">
                            @Html.ValidationMessageFor(m => m.IDSafeCodePropostaRiferimento, "campo obbligatorio", new { @class = "help help-message", @id = "idRPError2" })
                        </div>
                    </div>
                </div>

                <div class="columns">
                    <div class="column is-12">
                        <div class="field">
                            <p id="confermato" hidden="hidden" style="color:forestgreen; font-family:'Arial Narrow'">Codici verificati. Si può procedere alla creazione della Relazione a partire dalla Proposta indicata</p>
                        </div>
                    </div>
                </div>

            </section>
            <footer class="modal-card-foot">
                <button id="buttonRelazioneDaPropostaOk" type="button" onclick="form.submit()" class="button is-dark">Aggiungi</button>
                <button type="button" class="button is-dark" onclick="cancelModalRelazioneDaProposta()">Annulla</button>
            </footer>
        </form>
    </div>
</div>


<script>

    function setModalRelazioneDaProposta() {

        document.getElementById("buttonRelazioneDaPropostaOk").innerHTML = "Crea";
        document.getElementById("pTitoloRelazioneDaProposta").innerHTML = "Crea Relazione da Proposta";

        document.getElementById("IDRelazioneDaProposta").value = "";
        document.getElementById("CodiceRelazioneDaProposta").value = "";

        document.getElementById("modal-RelazioneDaProposta").classList.add("is-active");

    }

    function cancelModalRelazioneDaProposta() {

        document.getElementById("modal-RelazioneDaProposta").classList.remove("is-active");

    }

</script>



