@model CDQ.Models.Helper.HelpSchedaAgente

@{
    ViewData["Title"] = "Scheda";
}

<script>function visualizzaTab(tab) {


        document.getElementById('Tab').value = tab;

        document.getElementById("div1").style.display = tab == "1" ? "block" : "none";
        document.getElementById("div2").style.display = tab == "2" ? "block" : "none";
        document.getElementById("div3").style.display = tab == "3" ? "block" : "none";

        if (tab == "1") document.getElementById("tab1").classList.add("is-active");
        else document.getElementById("tab1").classList.remove("is-active");

        if (tab == "2") document.getElementById("tab2").classList.add("is-active");
        else document.getElementById("tab2").classList.remove("is-active");

        if (tab == "3") document.getElementById("tab3").classList.add("is-active");
        else document.getElementById("tab3").classList.remove("is-active");

    }</script>

<br />
<br />

<div class="columns">
    <div class="column is-offset-1 is-1">
        <a asp-action="Agenti" class="button back">
            <span class="icon">
                <i class="fas fa-backward"></i>
            </span>
        </a>
    </div>
    <div class="column is-8" align="center">
        <h1 class="title is-4">Scheda</h1>
    </div>
    <div class="column is-1" align="right">

    </div>

</div>

<form id="formScheda" method="post">

    <div class="columns">
        <div class="column is-10 is-offset-1">
            <div class="panel">
                <div class="panel-heading"></div>
                <div class="panel-block">
                    <div class="container">
                        <div asp-validation-summary="ModelOnly" class="text-danger"></div>

                        @Html.HiddenFor(model => Model.Tab)
                        @Html.HiddenFor(model => Model.DescMese)
                        @Html.HiddenFor(model => Model.ErroreValidazione)

                        @Html.HiddenFor(m => m.EliminaPagamento)
                        @Html.HiddenFor(m => m.IDPagamentoAgente)

                        @for (var i = 0; i < Model.ListaAnni.Count(); i++)
                        {
                            @Html.HiddenFor(model => Model.ListaAnni[i].Text)
                            @Html.HiddenFor(model => Model.ListaAnni[i].Value)
                        }

                        @*@for (var i = 0; i < Model.ListaLink.Count(); i++)
                        {
                            @Html.HiddenFor(model => Model.ListaLink[i].ID)
                            @Html.HiddenFor(model => Model.ListaLink[i].Nominativo)
                        }*@

                        @for (var i = 0; i < Model.ListaMesi.Count(); i++)
                        {
                            @Html.HiddenFor(model => Model.ListaMesi[i].Text)
                            @Html.HiddenFor(model => Model.ListaMesi[i].Value)
                        }

                        <div class="columns">
                            <div class="column is-2">
                            </div>
                            <div class="column">
                            </div>
                        </div>
                        <div class="columns">
                            <div class="column is-2">
                                <div class="select is-fullwidth">
                                    <select asp-for="Mese" asp-items="Model.ListaMesi" onchange="document.getElementById('Tab').value = '3';this.form.submit()" disabled="@Model.IsPosizioniAperte"></select>
                                </div>
                            </div>
                            <div class="column is-2">
                                <div class="select is-fullwidth">
                                    <select asp-for="Anno" asp-items="Model.ListaAnni" onchange="document.getElementById('Tab').value = '3';this.form.submit()" class="form-control" disabled="@Model.IsPosizioniAperte"></select>
                                </div>
                            </div>
                            <div class="column is-4">
                                <div class="field">
                                    <input id="IsPosizioniAperte" asp-for="IsPosizioniAperte" class="is-checkradio is-small is-info" data-residuo="0" type="checkbox" onclick="document.getElementById('Tab').value = '3';this.form.submit()">
                                    <label for="IsPosizioniAperte"><strong>Mostra tutte (e solo) le posizioni aperte</strong></label>
                                </div>
                            </div>
                            <div class="column is-2">
                            </div>
                            <div class="column is-2">
                                <p><h5><b><font color="@(Model.SaldoTotale>=0 ? "green":"red")">Saldo Totale: <br />@Html.DisplayFor(model => Model.SaldoTotale)</font></b></h5></p>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>

    </div>

    <div class="columns">

        <div class="column is-10 is-offset-1">

            <nav class="panel">
                <p class="panel-heading">
                    Scheda
                </p>
                <p class="panel-tabs">
                    <a id="tab1" onclick="visualizzaTab('1')" class='@(Model.Tab==0 || Model.Tab==1 ? "is-active":"")'>Associati</a>
                    <a id="tab2" onclick="visualizzaTab('2')" class='@(Model.Tab==2 ? "is-active":"")'>SubReferenti</a>
                    <a id="tab3" onclick="visualizzaTab('3')" class='@(Model.Tab==3 ? "is-active":"")'>Movimenti</a>
                </p>

                <div id="div1" style='display:@(Model.Tab==0 || Model.Tab==1 ? "block":"none")'>
                    <div class="panel-block">
                        <div class="container">
                            <div class="column">

                                <h1><strong>Elenco Associati Diretti</strong></h1>
                                <br />

                                @if (1 > 0)
                                {
                                    <table class="table is-fullwidth">
                                        <thead>
                                            <tr>
                                                <th>N° Socio</th>
                                                <th>Codice Fiscale</th>
                                                <th>Denominazione</th>
                                            </tr>
                                        <tbody>
                                        </tbody>
                                    </table>
                                }
                                else
                                {
                                    <p>-</p>
                                }
                            </div>
                        </div>

                    </div>
                </div>
                <div id="div2" style='display:@(Model.Tab==2 ? "block":"none")'>

                    <div class="panel-block">
                        <div class="container">
                            <div class="column">

                                <h1><strong>Elenco SubReferenti</strong></h1>
                                <br />


                                @if (1 > 0)
                                {
                                    <table class="table is-fullwidth">
                                        <thead>
                                            <tr>
                                                <th>Codice</th>
                                                <th>Ruolo</th>
                                                <th>Nominativo</th>
                                            </tr>
                                        <tbody>
                                        </tbody>
                                    </table>
                                }
                                else
                                {
                                    <p>-</p>
                                }
                            </div>
                        </div>
                    </div>
                </div>
                <div id="div3" style='display:@(Model.Tab==3 ? "block":"none")'>
                    <div class="panel-block">
                        <div class="container">
                            <div class="column">
                                <div class="columns">
                                    <div class="column is-4">
                                        <h1><strong>Movimenti @Model.DescMese @Model.Anno</strong></h1>
                                    </div>
                                    <div class="column">
                                        <span title="Non pagato" style="color:darkred"><i class="fa fa-exclamation"></i> da completare</span>
                                    </div>
                                    <div class="column">
                                        <span title='Parzialmente pagato' style="color:orange"><i class="fa fa-asterisk"></i> residuo</span>
                                    </div>
                                    <div class="column">
                                        <span title="Pagato" style="color:darkgreen"><i class="fa fa-check"></i> completato</span>
                                    </div>
                                    <div class="column" align="right">
                                        @if (Model.IsAdmin)
                                        {
                                            <a onclick="calcolaTotale();setModal()" class="button back" data-tooltip="Pagamento">
                                                <span class="icon"><i class="fas fa-coins"></i></span>
                                            </a>
                                        }
                                    </div>
                                </div>

                                @if (1 > 0)
                                {
                                    <table class="table">
                                        <thead>
                                            <tr>
                                                <th width="5%">Data</th>
                                                <th width="10%">Causale</th>
                                                <th width="10%">Note</th>
                                                <th width="10%" align="right">Imp.Lordo</th>
                                                <th width="10%" align="right">Spese</th>
                                                <th width="10%" align="right">Importo</th>
                                                <th width="5%" align="right">%</th>
                                                <th width="15%" align="right">Spettante</th>
                                                <th></th>
                                                <th style="vertical-align:bottom" align="center">
                                                    <div class="field">
                                                        <input id="checkSeleziona" class="is-checkradio is-small is-info" data-residuo="0" type="checkbox" onclick="selezionaDeselezionaTutto()" />
                                                        <label for="checkSeleziona"></label>
                                                    </div>
                                                </th>
                                                <th></th>
                                                <th></th>
                                            </tr>
                                        <tbody>

                                            <tr>
                                                <td></td>
                                                <td></td>
                                                <td></td>
                                                <td></td>
                                                <td></td>
                                                <td></td>
                                                <td align="right">
                                                    <strong>Totale</strong>
                                                </td>
                                                <td align="right">
                                                </td>
                                                <td></td>
                                                <td></td>
                                            </tr>

                                        </tbody>
                                    </table>
                                }
                                else
                                {
                                    <p>-</p>
                                }
                            </div>
                        </div>
                    </div>
                </div>
            </nav>
        </div>
    </div>


    @if (Model.IsAdmin)
    {


        <!-- Modal -->

        @if (Model.ErroreValidazione)
        {

            <script>window.onload = function () {
                    document.getElementById('button_nuovo').click();
                }</script>
        }
        else
        {
            <script>window.onload = function () {
                    document.getElementById('NuovoPagamento').value = false;
                }</script>
        }       

    }

    <div id="modal-pagamento" class="modal">
        <div class="modal-background"></div>
        <div class="modal-card">
            <header class="modal-card-head">
                <p class="modal-card-title">Pagamento</p>
                <button class="delete" type="reset" onclick="cancelModal()"></button>
            </header>
            <section class="modal-card-body">

                @Html.HiddenFor(m => m.NuovoPagamento)

                <input asp-for="MovimentiCollegati" id="MovimentiCollegati" type="hidden" />
                <div class="field">
                    <div class="select">
                        <select disabled asp-for="Mese" asp-items="Model.ListaMesi" onchange="this.form.submit()" class="form-control"></select>
                    </div>
                    <div class="select">
                        <select disabled asp-for="Anno" asp-items="Model.ListaAnni" onchange="this.form.submit()" class="form-control"></select>
                    </div>
                </div>

                <div class="field">
                </div>
                <div class="field">
                </div>                
                <div class="field">
                </div>
            </section>
            <footer class="modal-card-foot">
                <button type="button" onclick="document.getElementById('NuovoPagamento').value=true;form.submit();" class="button is-dark">Salva</button>
                <button type="button" class="button is-dark" onclick="cancelModal()">Annulla</button>
            </footer>
        </div>
    </div>
</form>

<div id="modal-elimina" class="modal">
    <div class="modal-background"></div>
    <div class="modal-card">
        <header class="modal-card-head">
            <p class="modal-card-title">Attenzione</p>
            <button class="delete" type="reset" onclick="cancelModalElimina()"></button>
        </header>
        <section class="modal-card-body">
           <p>Eliminare il pagamento selezionato?</p>
            <input id="PagamentoID" type="hidden"/>
        </section>
        <footer class="modal-card-foot">
            <button type="button" onclick="cancelModalElimina();eliminaPagamento(document.getElementById('PagamentoID').value)" class="button is-dark">Salva</button>
            <button type="button" class="button is-dark" onclick="cancelModalElimina()">Annulla</button>
        </footer>
    </div>
</div>

<script>function calcolaTotale() {

        var inputs = document.getElementsByTagName("input");
        var somma = 0;
        var movimenti = "";
        for (var i = 0; i < inputs.length; i++) {
            if (inputs[i].type == "checkbox" && inputs[i].id != "checkSeleziona" && inputs[i].id != "checkIsRitenuta" && inputs[i].id != "IsPosizioniAperte") {
                if (inputs[i].checked == true) {
                    var v = inputs[i].dataset.residuo.replace(",", ".");
                    somma = somma + parseFloat(v);
                    movimenti = movimenti + inputs[i].id + ";";
                }
            }
        }

        somma = roundTo(somma, 2);

        document.getElementById("PagamentoTotaleImporto").value = ("" + somma).replace(".", ",");
        document.getElementById("MovimentiCollegati").value = movimenti;

    }

    function selezionaDeselezionaTutto() {

        var inputs = document.getElementsByTagName("input");

        for (var i = 0; i < inputs.length; i++) {
            if (inputs[i].type == "checkbox" && inputs[i].id != "checkSeleziona" && inputs[i].id != "checkIsRitenuta" && inputs[i].id != "IsPosizioniAperte") {
                inputs[i].checked = document.getElementById("checkSeleziona").checked;
            }
        }

    }

    function roundTo(n, digits) {
        if (digits === undefined) {
            digits = 0;
        }

        var multiplicator = Math.pow(10, digits);
        n = parseFloat((n * multiplicator).toFixed(11));
        var test = (Math.round(n) / multiplicator);
        return +(test.toFixed(digits));
    }

    function eliminaPagamento(ID) {


            document.getElementById('EliminaPagamento').value = true;
            document.getElementById('IDPagamentoAgente').value = ID;
            formScheda.submit();

    }</script>

<script>

    function setModal() {

        document.getElementById("modal-pagamento").classList.add("is-active");

    }

    function cancelModal() {

        document.getElementById("modal-pagamento").classList.remove("is-active");

    }

    function setModalElimina(id) {

        
        document.getElementById("PagamentoID").value=id;

        document.getElementById("modal-elimina").classList.add("is-active");

    }

    function cancelModalElimina() {

        document.getElementById("modal-elimina").classList.remove("is-active");

    }

</script>

